{% extends 'base.html' %}





{% block title %}
    HandyHub
{% endblock %}

{% block content %}

    <style>
        .center {
            text-align: center;
        }
    </style>
    <div class="center">
        <h1>Welcome to the HandyHub</h1>
        <p><br>Welcome to HandyHub! We are a platform that connects individuals with local freelancers and service providers. <br>
            Our platform makes it easy for you to find help with a variety of tasks, including cleaning, moving, handyman services, and more. <br>
            With our rating system you can easily find trusted help. Plus, our platform makes it simple for you to communicate with, <br>
            pay and rate your service providers, ensuring a smooth and seamless experience from start to finish. We're excited to help <br>
            you get your to-do list done, so give us a try today!
        <br><br>
        <a href="/jobs"><button class="btn btn-outline btn-success">Click here to view all jobs!</button></a>
        <br>
        <br>
        <h1>Make a new job request</h1>
    </div>

    <style>
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            margin: 0 auto;
        }
        form > * {
            margin: 10px auto;
        }
        </style>

    <form method="post" action="/home">
        <input type="text" name="name" placeholder="Name" style="height: 30px; width: 200px;">
        <input type="text" name="email" placeholder="Email" style="height: 30px; width: 200px;">
        <input type="text" name="city" placeholder="City" style="height: 30px; width: 200px;">
        <input type="text" name="job" placeholder="Job title" style="height: 30px; width: 200px;">
        <input type="text" name="reward" placeholder="Reward" style="height: 30px; width: 200px;">
        <textarea name="message" rows="3" cols="90" placeholder="Describe the job that you need help with"></textarea>
        <input type="file" id="fileInput" name="file">       
        <input type="submit" value="Post a job" class="btn btn-primary">
    </form>

    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<style>
    .center {
        text-align: center;
    }
</style>
<div class="center">
<br>
<br>
<br>
<img src="https://handyhub.s3.eu-central-1.amazonaws.com/images/Handyhub-highres-fullsize.png" alt="HandyHub">
</div>

{% endblock %}


