{% extends 'base.html' %}
{% block title %}
  Market Page
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Area</th>                
                <th scope="col">Name</th>
                <th scope="col">Reward</th>
                <th scope="col">Help</th>
            </tr>
        </thead>
        <tbody>
            
            {% for item in items %}
                {% if item['ServiceVisibility'] %}
                    <tr>
                        <td>{{ item['ServiceCity'] }}</td>
                        <td>{{ item['RequestedJob'] }}</td>
                        <td>{{ item['ServiceReward'] }}</td>
                        <td>                   
                            <a href="/market/details/{{ item['ServiceID'] }}"><button class="btn btn-outline btn-success">Check details and help</button></a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

